<mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>Neuen Verkäufer hinzufügen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" #sellerForm="ngForm" class="seller-form">
        
        <mat-form-field appearance="fill">
          <mat-label>Vorname</mat-label>
          <input matInput type="text" name="firstname" [(ngModel)]="newSeller.firstname" required />
        </mat-form-field>
        
        <mat-form-field appearance="fill">
          <mat-label>Nachname</mat-label>
          <input matInput type="text" name="lastname" [(ngModel)]="newSeller.lastname" required />
        </mat-form-field>
        
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" name="emailadress" [(ngModel)]="newSeller.emailadress" required />
        </mat-form-field>
        
        <mat-form-field appearance="fill">
          <mat-label>Telefonnummer</mat-label>
          <input matInput type="tel" name="phonenumber" [(ngModel)]="newSeller.phonenumber" required />
        </mat-form-field>
        
        <mat-form-field appearance="fill">
          <mat-label>Verkäufernummer</mat-label>
          <input matInput type="number" name="sellernumber" [(ngModel)]="newSeller.sellernumber" required />
        </mat-form-field>
        
        <div class="submit-btn">
          <button mat-raised-button color="primary" type="submit" [disabled]="!sellerForm.form.valid">Hinzufügen</button>
          <button mat-raised-button color="error"  (click)="navigateTo('/seller')">Abbrechen</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  