<h1 mat-dialog-title>Verkäufer bearbeiten</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Vorname</mat-label>
    <input matInput [(ngModel)]="data.firstname">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nachname</mat-label>
    <input matInput [(ngModel)]="data.lastname">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Straße</mat-label>
    <input matInput [(ngModel)]="data.street">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nummer</mat-label>
    <input matInput type="number" [(ngModel)]="data.apartmentnumber">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Postleitzahl</mat-label>
    <input matInput type="number" [(ngModel)]="data.postleitzahl">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Wohnort</mat-label>
    <input matInput [(ngModel)]="data.city">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" [(ngModel)]="data.emailadress">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Telefonnummer</mat-label>
    <input matInput type="tel" [(ngModel)]="data.phonenumber">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Verkaufsnummer</mat-label>
    <input matInput type="text" [(ngModel)]="data.sellernumber">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-button [mat-dialog-close]="data">Speichern</button>
</div>
